# Будет игнорироваться каталог tmp
/tmp/

# Будет игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

# Будет игнорироваться все файлы .DS_Store
*.DS_Store

# Будет игнорироваться все файлы _old
*_old

# Будет игнорироваться все файлы _backup
*_backup